*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#heading{
    height: 100%;
    background-color: rgb(0, 0, 0); 

}

#main{
    /* height: 100vh; */
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw 10vw;
    gap: 20px;
}

#bottom{
    width: 65%;
    background-color: rgb(107, 107, 223);

}

#top{
    height: 44vh;
    width: 25%;
    align-items: center;
    border: 4px solid white;
    background-position: top;
    background-size: cover;
    padding: 0 3vw

}

#bottom h3{
    font-size: 38px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#all-songs{
    /* background-color:blueviolet ; */
    height: 80%;
    margin-top: 33px;
}

.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(248, 247, 244);
    padding: 9px 9px;
}

.song-card:hover{
    background-color: rgb(44, 121, 220);
}

.song-card .clicked{
    background-color: antiquewhite;
}

.song-card:nth-last-child(1){
    border-bottom: 2px solid rgb(248, 247, 244); ;
}

.song-card .part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-card h2{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-left: 15px;
}

.song-card h6{
    font-size: 17px;
}

.song-card img{
    height: 60px;
    width: 60px;
}

#player{
    height: 15%;
    width: 100%;
    background-color: rgb(25, 25, 24); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#player h3{
    background-color: rgb(152, 87, 217);
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player h3 i{
    font-size: 25px;
    color: white;
}

#player h3:active{
    scale: 0.9;
}